
body {
    background-color: lightcyan;
}
.textBox {
    text-align: center;
}


.label {
    display: none;
}

span.sentence:hover{
    background-color:darkcyan;
}
span.sentence:hover > div.label{
    display: block;
}
